<a href="https://colab.research.google.com/github/julozanoa/AlgorithmsUN2021II/blob/main/Lab1/julozanoa_QuanconnectTutorials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Types and Data Structures**

## **Introduction**

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# **Basic Variable Types**

The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").aracters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Hola soy'
my_string2 = "Juan Pablo Lozano"
print(my_string1 + ' ' + my_string2)

Hola soy Juan Pablo Lozano

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
my_int = 9903
print(my_int)
print(type(my_int))

9903
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_string = "9903"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float.

In [ ]:
my_float = 1.0
print(type(my_float))
my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [ ]:
my_float = 99.3
print(type(my_float))
my_int = 308
print(type(my_int))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_string = "9903"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

# **Basic Math Operations**

The basic math operators in python are demonstrated below:

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division 5.0
exponent 8

In [ ]:
print("Addition ",99+3)
print("Subtraction ", 10-2)
print("Multiplication ", 15*3)
print("Division", 200/2)
print("exponent", 4**3)

Addition  102
Subtraction  8
Multiplication  45
Division 100.0
exponent 64

# **Data Collections**
**List**

A list is an **ordered** collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list = ['Juan', 'Pablo', 99,3,8]
print(my_list)

['Juan', 'Pablo', 99, 3, 8]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Quant
3

In [ ]:
my_list = ['Juan', 'Pablo', 99,3,8]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) - 1])

5
Juan
8

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list = ['Juan', 'Pablo', 99,3,8]
my_list[2] = 'Lozano'
print(my_list)

['Juan', 'Pablo', 'Lozano', 3, 8]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list = ['Juan', 'Pablo', 99,3,8]
print(my_list[1:4])

['Pablo', 99, 3]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
my_list = ['Juan', 'Pablo', 99,3,8]
print(my_list[1:])

['Pablo', 99, 3, 8]

And all elements up to but excluding index 3:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
my_list = ['Juan', 'Pablo', 99,3,8]
print(my_list[:3])

['Juan', 'Pablo', 99]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)
my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [ ]:
my_list = ['Juan', 'Pablo']
my_list.append('Lozano')
print(my_list)
my_list.remove('Lozano')
print(my_list)

['Juan', 'Pablo', 'Lozano']
['Juan', 'Pablo']

When there are repeated instances of "Hello", the first one is removed.

**Tuple**

A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
my_tuple = ('Prueba','de','Tupla')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
my_tuple = ('Prueba','de','Tupla')
print(my_tuple[1:])

('de', 'Tupla')

**Set**

A set is an **unordered** collection with **no duplicate** elements. The built-in function set() can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'IBM', 'F', 'AAPL', 'FB'}

In [ ]:
stock_list = ['AABB','CCDD','EEFF','AABB','IBM','GGHH','GGHH','IIJJ']
stock_set = set(stock_list)
print(stock_set)

{'CCDD', 'EEFF', 'AABB', 'IBM', 'GGHH', 'IIJJ'}

Set is an easy way to remove duplicate elements from a list.

**Dictionary**

A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

In [ ]:
my_dic_prueba = {'AABB': 'CCDD', 'EEFF': 'GGHH', 'IIJJ': 'KKLL'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
print(my_dic_prueba['EEFF'])

GGHH

We can also change the value associated with a specified key:

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
my_dic_prueba['IIJJ'] = 'MMNN'
print(my_dic_prueba['IIJJ'])

MMNN

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
print(my_dic_prueba.keys())

dict_keys(['AABB', 'EEFF', 'IIJJ'])

## **Common String Operations**
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
my_str = 'Juan Pablo Lozano Aranguren'
print(my_str[2:])

an Pablo Lozano Aranguren

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters.

In [ ]:
print("Counting the number of e's in this sentence".count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [ ]:
print("What's the number of u's in this sentence uuu".count('u'))
print('The first time the letter after v appears in this sentence: "whats up?" '.find('w'))
print('lets replace all the e in this sentence with an s'.replace('e','s'))

5
61
lsts rsplacs all ths s in this ssntsncs with an s

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
Time = '2021-10-19 17:46:23'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-10-19 17:46:23
17

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [ ]:
my_time = 'Hour: {}, Minute: {}'.format(17, 48)
print(my_time)

Hour: 17, Minute: 48

Another way to format a string is to use the % symbol.

In [ ]:
print('pi is %f' % 3.14)
print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [ ]:
print('1/2 is %f' % 0.5)
print('%s to %s' % ('Welcome', 'Algorithms Class'))

1/2 is 0.500000
Welcome to Algorithms Class

%s is a placeholder that takes in a string. Similarly %f takes a float and %d takes an integer.

## **Summary**

We have seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

# **Logical Operations and Loops**

### **Introduction**

We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

### **Logical Operations**
Like most programming languages, Python has comparison operators:

In [ ]:
print (1 == 0)    # 1 equals 0
print (1 == 1)    # 1 equals 1
print (1 != 0)    # 1 is not equal to 0
print (5 >= 5)    # 5 is greater than or equal to 5
print (5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [ ]:
print (2 == 1)    # 2 equals 1
print (8 == 8)    # 8 equals 8
print (3 != 3)    # 3 is not equal to 3
print (4 >= 2)    # 4 is greater than or equal to 2
print (1 >= 0)    # 5 is greater than or equal to 6

False
True
False
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

* **The statement "P and Q" is true if both P and Q are true, otherwise it is false.**
* **The statement "P or Q" is false if both P and Q are false, otherwise it is true.**
* **The statement "not P" is true if P is false, and vice versa.**

In [ ]:
print (2 > 1 and 3 > 2)
print (2 > 1 and 3 < 2)
print (2 > 1 or  3 < 2)
print (2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print (0 > 1 and 3 > 2)
print (2 > 1 and 9 > 2)
print (5 > 6 or  8 < 6)
print (1 < 2 and -1 < 0)

False
True
False
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print ((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print (3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3))

False
True

In [ ]:
print (1 > 2 or 4 < 3) and (1!=1 and 6>2) and not ( 1 < 2 or 6 < 3 and (0!=3 and -9>3))
print (6 > 4 or -1 < 3) and (1!=3 and 1>3) and not ( 6 < 6 or 1 < 1 and (1!=1 and 4>3))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

### **If Statement**
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0: print ('i == 0 is True')

i == 0 is True

In [ ]:
i = 1
if i == 1: print ('i == 1 is True')

i == 1 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

q is false

In [ ]:
p = 0 == 0
q = 20 > 10
if p and q:
    print ('p and q is true')
elif p and not q:
    print ('q is false')
elif q and not p:
    print ('p is false')
else:
    print ('None of p and q is true')

p and q is true

# **Loop Structure**
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

### **While Loop**
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print (i)
    i += 1

0
1
2
3
4

In [ ]:
i = 0
while i < 10:
    print (i)
    i += 2

0
2
4
6
8

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i+=1 (short for i = i + 1) and i+=2 (short for i = i + 2) to make i larger after each iteration. This is the most commonly used method to control a while loop.

**For Loop**

A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for x in [1,2,3,4,5]: print (x)

1
2
3
4
5

In [ ]:
for x in [0,5,10,15,20]: print (x)

0
5
10
15
20

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
stocks = ['asd','fgh','jkl','qwe','rty','uiop', 'A', 'BC']
selected = ['asd','qwe']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print (new_list)

['fgh', 'jkl', 'rty', 'uiop', 'A', 'BC']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

**Break and continue**

These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print (stock)
    if stock == 'FB': break

AAPL
GOOG
IBM
FB

In [ ]:
stocks = ['asd','fgh','jkl','qwe','rty','uiop', 'A', 'BC']
for stock in stocks:
    print (stock)
    if stock == 'uiop': break

asd
fgh
jkl
qwe
rty
uiop

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print (stock)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
stocks = ['asd','fgh','jkl','qwe','rty','uiop', 'A', 'BC']
for stock in stocks:
    if stock == 'uiop': continue
    print (stock)

asd
fgh
jkl
qwe
rty
A
BC

### **List Comprehension**
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print (squares)

[1, 4, 9, 16, 25]

In [ ]:
cubes = []
for i in [1,2,3,4,5]:
    cubes.append(i**3)
print (cubes)

[1, 8, 27, 64, 125]

Using list comprehension:

In [ ]:
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print (squares)

[1, 4, 9, 16, 25]

In [ ]:
foo = [1,2,3,4,5]
cubes = [x**3 for x in foo]
print (cubes)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
stocks = ['asd','fgh','jkl','qwe','rty','uiop', 'A', 'BC']
selected = ['fgh','qwe']
new_list = [x for x in stocks if x not in selected]
print (new_list)

['asd', 'jkl', 'rty', 'uiop', 'A', 'BC']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB']
                                for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
print ([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print ([str(x) + ' vs ' + str(y) for x in ['asd','fgh','jkl','qwe']
                                for y in ['rty','uiop', 'A', 'BC'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['asd vs rty', 'asd vs uiop', 'asd vs A', 'asd vs BC', 'fgh vs rty', 'fgh vs uiop', 'fgh vs A', 'fgh vs BC', 'jkl vs rty', 'jkl vs uiop', 'jkl vs A', 'jkl vs BC', 'qwe vs rty', 'qwe vs uiop', 'qwe vs A', 'qwe vs BC']

List comprehension is an elegant way to organize one or more for loops when creating a list.

### **Summary**
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

# **Functions and Objective-Oriented Programming**
### **Introduction**

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

### **Functions**

A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print (product(2,3))
print (product(5,10))

6
50

In [ ]:
def product(x,y):
    return x*y
print (product(5,2))
print (product(10,10))

10
100

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print ("Welcome to QuantConnect")
say_hi()

Welcome to QuantConnect

In [ ]:
def say_bye():
    print ("Good Bye!")
say_bye()

Good Bye!

## **Built-in Function**
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print (list(range(10)))
print (list(range(1, 11)))
print (list(range(1, 11, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]

In [ ]:
print (list(range(10)))
print (list(range(1, 11)))
print (list(range(1, 11, 2)))

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [ ]:
tickers = ['asd','fgh','jkl','qwe','rty','uiop', 'A', 'BC']
print ("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print (k + 1, tickers[k])

The number of tickers is 8
1 asd
2 fgh
3 jkl
4 qwe
5 rty
6 uiop
7 A
8 BC

*Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"*

**map()** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['asd','fgh','jkl','qwe','rty','uiop', 'A', 'BC']
print(list(map(len,tickers)))

[3, 3, 3, 3, 3, 4, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
print(list(map(lambda x: x**2, range(10))))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
print(list(map(lambda x: x**3, range(10))))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1])))

[6, 6, 6, 6, 6]

In [ ]:
print(list(map(lambda x, y: x+y, [1,2,3,4,5], [9,7,5,3,1])))

[10, 9, 8, 7, 6]

**sorted()** takes a list or set and returns a new sorted list:

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [ ]:
price_list = [('leche', 1900.09), ('pan', 1000.71), ('queso', 2500), ('huevos', 4500), ('chocolate', 3000.32)]
sorted(price_list, key = lambda x: x[1])

[('pan', 1000.71),
 ('leche', 1900.09),
 ('queso', 2500),
 ('chocolate', 3000.32),
 ('huevos', 4500)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('GOOGL', 911.71),
 ('FB', 150),
 ('AAPL', 144.09),
 ('WMT', 75.32),
 ('MSFT', 69)]

In [ ]:
price_list = [('leche', 1900.09), ('pan', 1000.71), ('queso', 2500), ('huevos', 4500), ('chocolate', 3000.32)]
sorted(price_list, key = lambda x: x[1], reverse = True)

[('huevos', 4500),
 ('chocolate', 3000.32),
 ('queso', 2500),
 ('leche', 1900.09),
 ('pan', 1000.71)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [ ]:
price_list = [('leche', 1900.09), ('pan', 1000.71), ('queso', 2500), ('huevos', 4500), ('chocolate', 3000.32)]
price_list.sort(key = lambda x: x[1])
print (price_list)

[('pan', 1000.71), ('leche', 1900.09), ('queso', 2500), ('chocolate', 3000.32), ('huevos', 4500)]

## **Object-Oriented Programming**
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

**Class**

A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print (self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [ ]:
FaceBook  = Stock('FB', 202.34, 352.11, 10122085)
Instagram = Stock('IG', 444.4, 555.5, 8030991)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
print(apple.ticker)
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.0006573181419806673
0.0006573181419806673

In [ ]:
print(FaceBook.ticker)
Instagram.print_return()
Instagram.update(912.8,913.4)
Instagram.print_return()

FB
0.0006573181419806673
0.0006573181419806673


By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
FaceBook.ceo = 'Mark Zuckerberg'
FaceBook.ceo

'Mark Zuckerberg'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(FaceBook)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

**Inheritance**

Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class Child(Stock):
    def __init__(self, name):
        self.name = name

Then we create an object:

In [ ]:
aa = Child('AA')
print (aa.name)
aa.update(100, 102)
print (aa.open)
print (aa.close)
print (aa.print_return())

AA
100
102
0.020000000000000018
None

In [ ]:
Twitter = Child('TW')
print (Twitter.name)
Twitter.update(200, 204)
print (Twitter.open)
print (Twitter.close)
print (Twitter.print_return())

TW
200
204
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.
### **Summary**
In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

# **NumPy and Basic Pandas**
### **Introduction**
Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

### **NumPy**
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

**Basic NumPy Arrays**

A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print (price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
price_list = [50.32, 46.99, 141.66, 444.44, 208.31, 500.5]
price_array2 = np.array(price_list)
print (price_array2, type(price_array2))

[ 50.32  46.99 141.66 444.44 208.31 500.5 ] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3], [2,4]])
print (Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
Ar2 = np.array([[9,9], [0,3]])
print (Ar2, type(Ar2))

[[9 9]
 [0 3]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print (Ar.shape)

(2, 2)

In [ ]:
print (Ar2.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print (Ar[0])
print (Ar[1])

[1 3]
[2 4]

In [ ]:
print (Ar2[0])
print (Ar2[1])

[9 9]
[0 3]

If we want to access the matrix by column instead:

In [ ]:
print ('First column:', Ar[:,0])
print ('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [ ]:
print ('First column:', Ar2[:,0])
print ('Second column:', Ar2[:,1])

First column: [9 0]
Second column: [9 3]

**Array Functions**

Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [ ]:
np.log(price_array2)

array([3.91840261, 3.84993481, 4.95342982, 6.09681506, 5.33902735,
       6.2156076 ])

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print (np.std(price_array))
print (np.sum(price_array))
print (np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

In [ ]:
print(np.mean(price_array2))
print (np.std(price_array2))
print (np.sum(price_array2))
print (np.max(price_array2))

232.03666666666666
179.43515529448393
1392.22
500.5

The functions above return the mean, standard deviation, total and maximum value of an array.

### **Pandas**

Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [ ]:
import pandas as pd

**Series**

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print (s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
price2 = [50.32, 46.99, 141.66, 444.44, 208.31, 500.5]
s2 = pd.Series(price2)
print (s2)

0     50.32
1     46.99
2    141.66
3    444.44
4    208.31
5    500.50
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
s2 = pd.Series(price2, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print (s2)

a     50.32
b     46.99
c    141.66
d    444.44
e    208.31
f    500.50
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
print (s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
s2.index = [10,9,8,7,6,5]
print (s2)

10     50.32
9      46.99
8     141.66
7     444.44
6     208.31
5     500.50
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print (s[1:])
print (s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
print (s2[1:])
print (s2[:-2])

9     46.99
8    141.66
7    444.44
6    208.31
5    500.50
dtype: float64
10     50.32
9      46.99
8     141.66
7     444.44
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print (s[4])
s[4] = 0
print (s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
print (s2[9])
s2[9] = 0
print (s2)

46.99
10     50.32
9       0.00
8     141.66
7     444.44
6     208.31
5     500.50
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Prices')
print (s)
print (s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [ ]:
s2 = pd.Series(price2, name = 'Strawberries Prices')
print (s2)
print (s2.name)

0     50.32
1     46.99
2    141.66
3    444.44
4    208.31
5    500.50
Name: Strawberries Prices, dtype: float64
Strawberries Prices

We can get the statistical summaries of a Series:

In [ ]:
print (s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [ ]:
print (s2.describe())

count      6.000000
mean     232.036667
std      196.561364
min       46.990000
25%       73.155000
50%      174.985000
75%      385.407500
max      500.500000
Name: Strawberries Prices, dtype: float64

**Time Index**

Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s.index = time_index
print (s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print (time_index)
s2.index = time_index
print (s2)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01     50.32
2017-01-02     46.99
2017-01-03    141.66
2017-01-04    444.44
2017-01-05    208.31
2017-01-06    500.50
Freq: D, Name: Strawberries Prices, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print (s)
print (s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [ ]:
s2.index = [10,9,8,7,6,5]
print (s2)
print (s2[5])

10     50.32
9      46.99
8     141.66
7     444.44
6     208.31
5     500.50
Name: Strawberries Prices, dtype: float64
500.5

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print (s.iloc[1])

145.83

In [ ]:
print (s2.iloc[5])

500.5

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [ ]:
s.index = time_index
print (s['2017-01-03'])

143.68

In [ ]:
s2.index = time_index
print (s2['2017-01-03'])

141.66

We can even access to a range of dates:

In [ ]:
print (s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
print (s2['2017-01-02':'2017-01-05'])

2017-01-02     46.99
2017-01-03    141.66
2017-01-04    444.44
2017-01-05    208.31
Freq: D, Name: Strawberries Prices, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print (s[s < np.mean(s)])
print (s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
print (s2[s2 < np.mean(s2)])
print (s2[(s2 > np.mean(s2)) & (s2 < np.mean(s2) + 1.64*np.std(s2))])

2017-01-01     50.32
2017-01-02     46.99
2017-01-03    141.66
2017-01-05    208.31
Name: Strawberries Prices, dtype: float64
2017-01-04    444.44
2017-01-06    500.50
Name: Strawberries Prices, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions

### **Summary**
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.